server:
  port: 9101
spring:
  application:
    name: voter-service
  datasource:

    url: jdbc:postgresql://localhost:5432/voter_db

    username: postgres
    password: omar123
    driver-class-name: org.postgresql.Driver
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
spring.data.rest:
  base-path: /api