server:
  port: 9101
spring:
  application:
    name: voter-service
  datasource:
    url: jdbc:h2:mem:voters;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
spring.data.rest:
  base-path: /api
management:
  endpoints:
    web:
      exposure:
        include: "*"
